<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<app-projects></app-projects>
<app-about></app-about>
<app-contact></app-contact>
<router-outlet></router-outlet>
